* {
  box-sizing: border-box;
}

body {
  font-family: "Rubik", "Arial", sans-serif;
  color: #434343;
  line-height: 1.4;
  transition: 0.3s ease;
}


img {
  display: block;
  width: 100%;
}

a {
  display: block;
  text-decoration: none;
}

.basic-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn {
  padding: 0;
  display: block;
  border: none;
  cursor: pointer;
  background: transparent;
}


//hides the element
.visually-hidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding:0 !important;
	border:0 !important;
	height: 1px !important; 
	width: 1px !important; 
	overflow: hidden;
}
